spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: judy
    url: jdbc:mysql://localhost/sell?characterEncoding=utf-8&useSSL=false
  jpa:
    show-sql: true
  jackson:
    default-property-inclusion: non_null
  redis:
    host: 192.168.30.113
    port: 6379
server:
  servlet:
    context-path: /sell
logging:
  level:
    com.judy.demo.mapper : trace
mybatis:
  mapper-locations: classpath:mapper/*.xml
